* {
  font-family: "Capriola", sans-serif;
  font-size: 60%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(13, 33, 161, 1);
  color: rgba(238, 240, 242, 1);
}

header nav ul {
  display: inline-flex;
  list-style: none;
  gap: 10px;
  color: rgba(238, 240, 242, 1);
}

.hover:hover {
  font-size: 2.5rem;
}

li {
  padding: 1rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(238, 240, 242, 1);
}

h1 {
  padding: 1.5rem;
  text-decoration: none;
}

body {
  background-color: rgba(102, 113, 126, 1);
}

.about-me {
  display: block;
}

/* Colors Used
$black: rgba(0, 0, 0, 1);
$saffron: rgba(238, 198, 67, 1);
$antiflash-white: rgba(238, 240, 242, 1);
$zaffre: rgba(13, 33, 161, 1);
$paynes-gray: rgba(102, 113, 126, 1); */
